@tailwind base;
@tailwind components;
@tailwind utilities;
@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.cdnfonts.com/css/manrope');

main {
  font-family: 'Manrope', sans-serif;
}

.ant-checkbox-indeterminate .ant-checkbox-inner::after {
  top: 50%;
  left: 50%;
  width: 8px;
  height: 2px;
  background-color: #fff !important;
  border: 0;
  -webkit-transform: translate(-50%, -50%) scale(1);
  -ms-transform: translate(-50%, -50%) scale(1);
  transform: translate(-50%, -50%) scale(1);
  opacity: 1;
  content: ' ';
}

.ant-checkbox-checked .ant-checkbox-inner {
  background-color: #4361ee !important;
  border: 1px solid #4361ee !important;
}

.ant-checkbox .ant-checkbox-inner {
  border: 1px solid #d9d9d9 !important;
  color: #007aff !important;
}
.ant-checkbox-indeterminate .ant-checkbox-inner {
  background-color: #4361ee !important;
  border: 1px solid #4361ee !important;
}

.checkboxGroup span {
  color: #007aff !important;
}

.ant-pagination-item {
  background: #e0e6ed !important;
  border-radius: 50% !important;
}
.ant-pagination-item .ant-pagination-item-active {
  color: #007aff !important;
  border: 22px solid #007aff !important;
}
.ant-table-thead .ant-table-cell {
  background-color: #fff !important;
}

.ant-table-cell::before {
  width: 0px !important;
}
.ant-modal-content {
  padding: 0 !important;
}
.ant-checkbox-wrapper
  .ant-checkbox-wrapper-checked
  .ant-checkbox-group-item
  .css-dev-only-do-not-override-nnuwmp {
}

.newCheckBox .ant-checkbox-wrapper {
  background: #f2f9ff !important;
}
.newChecBox .ant-checkbox-checked .ant-checkbox-inner {
  background-color: #fff !important;
  border: 1px solid #4361ee !important;
}

.ant-select-selection-overflow {
  overflow: auto !important;
  flex-wrap: nowrap !important;
}
.ant-radio-button-wrapper-checked:not(.ant-radio-button-wrapper-disabled)
  .tag-count {
  background: #40a9ff;
  color: #fff;
  border-color: transparent;
}

.ant-menu-item-selected {
  background: #0560fc !important;
  color: #fff !important;
  border-radius: 6px !important;
}
.ant-menu-item::after {
  border: none !important;
}
.ant-modal-close-x {
  display: none !important;
}
.ant-modal-header {
  padding: 0px !important;
  border-top-right-radius: 6px !important;
  border-top-left-radius: 6px !important;
}
